.card-custom {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .card-body-custom {
    display: flex;
    align-items: center;
  }
  .icon-custom {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .card-footer-custom {
    background-color: #f8f9fa;
    padding: 10px 15px;
  }
  .btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*modulo de venta*/
  .card-header {
    background-color: var(--cui-dark);
    color: white
    text-align: center;
    font-size: 1.5em;
}
.table th, .table td {
    text-align: center;
}
.form-horizontal .form-group {
    margin-bottom: 1rem;
}
.btn-lg {
    font-size: 1.25em;
}
  

/*estilos de los botones de la vista clientes*/ 

.btn-style{
  margin: 7px;
}

/* Centrar el modal verticalmente */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
  justify-content: center;
}

li{
  list-style: none;
}

i{
  font-size: 1.2em;
  margin-right: 1rem;
}

.nav-item{
}

.nav-subitem{
  margin-left: .7rem;
}

.sidebar-nav .nav-link{
}

/*color de fondo del sidebar*/
#sidebar{
  background-color: #0C1C26;
}

.sidebar-brand {
  background-color: #0C1C26; /* Reemplaza #tu_color_aqui con el color deseado */
} 

.sidebar-nav .nav-link{
  color: white;
  background-color: #0C1C26;
}

ul .nav-submenu{
  background-color: #142F40;
}

.nav-subitem .nav-link{
  background-color: #142F40;
  color: white;
}

/*border de sidebar en menu*/
.simplebar-content-wrapper{
  border-left:2px solid white;
  border-radius: 15px;
}

/*border del logo*/
.logo-border{
  box-shadow:  0px 0px 33px 1px white;
}

/*footer de sidebar*/
.p-4{
  padding: 0 !important;
}

/*color de title*/
.card-header{
  color: white;
}

.logaut__link{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: .7rem;
}

.logaut__bi{
  font-size: 2rem;
  background-color: white;
}

.btn__menu{
  border: none;
  width: 3.3rem;
  height: 3.5rem; 
}

.bi_menu{
  font-size: 2rem;
  color: #3c4b64;
}

.bi__menu--active{
  background-color: #303c54;
  color: white;
  visibility: hidden;
}

.bi__menu--active:hover{
  background-color: #303c54;
}


/*para cerrar el sidebar*/

.sidebar {
  transition: transform 0.3s; /* agregar una transición para la propiedad transform */
}

.sidebar__active {
  transform: translateX(-100%); /* desplazar el sidebar hacia la izquierda */
}

/*para que pueda ocupar todo el espacio*/

.sidebar__active:not(.sidebar-end) ~ *{
  --cui-sidebar-occupy-start: ;
}

.logo_menu {
  display: none;
}

.nav-submenu{
  background-color: #0C1C26; 
}

@media only screen and (max-width: 767px) {
  /*para que se pueda mostrar el sidebar*/
  .sidebar__active {
    position: fixed;
    bottom: 0;
    transform: translateX(100%); /* desplazar el sidebar hacia la izquierda */
  }

  .bi_menu{
    font-size: 2rem;
    color: #3c4b64;
  }

  .bi__menu--active{
    visibility: visible;
  }

  .logo_menu{
    background-color: #0c1c26;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-left: 12px;
  } 

  .logo_menu .bi_menu{
    color: white;
  }

  .logo-border{
    box-shadow:  0px 0px 13px 1px white;
  }

  .icon-list {
    background-color: #0c1c26;
  }

} 


/*botones de compras*/
.btn_content{
  align-items: right;
  justify-content: space-evenly;
}

/*Estilos para mostrar img ampliada*/

.custom-img-modal .modal-content {
  background: transparent; 
  border: none;
  box-shadow: none;
}
.custom-img-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.custom-img-modal .img-fluid {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

/*estilos para los mensajes de error de validacion de la vista cliente */
.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875rem;
  margin: 0.25rem 0 0;
}

.backgrount-img{
  background-image: linear-gradient(to bottom, #0c1c26, #556270, #8b9898), url('../img/catedra.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply; 
}

/*estilos del .login-background*/

.login-container-margin{
  margin: 0px 12px;
}

.card_login-container{
  border-radius: 42px 0px 42px 0px;
  background-color: rgb(255, 255, 255);
}

.login-background{
  background-color: #0c1c26;
  color: white;
  box-shadow:  0px 0px 43px 3px white;
  border-radius: 42px 0px 42px 0px;

}

.tex-login{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color:white;
}

.login-title{
  text-align: center;
}

.login-img{
  box-shadow:  0px 0px 23px 3px white;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-top: 25px;
}
